* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background: #000a14;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #000a14 0%,
    #000b16 44%,
    #000a14 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #000a14 0%,
    #000b16 44%,
    #000a14 100%
  );
  background: radial-gradient(
    ellipse at center,
    #000a14 0%,
    #000b16 44%,
    #000a14 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a14', endColorstr='#000a14',GradientType=1 );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

fieldset {
  padding: 1rem;
  max-width: 250px
}

legend {
  /* font-weight: bold; */
  font-size: 1.25rem;
}
label {
  margin: 5px;
  line-height: 1.4rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexY {
  flex-direction: column;
  flex-wrap: nowrap;
}

.control-panel {
  display: flex;
  align-items: flex-start;
}
